* {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	font-size: inherit;
}

html {
	font-size: 16px;
	margin: 0;
}

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	padding: 32px;
}

#title {
	font-size: 48px;
	display: flex;
	justify-content: center;
}

.title {
	font-size: 32px;
	display: flex;
	width: 100%;
}

.content {
	text-indent: 32px;
	margin: 16px 0;
}

#question-container .title {
	border-bottom: solid 3px #126de5;
}

form {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	margin: 0;
}

textarea {
	flex-grow: 1;
	resize: none;
	border: solid 3px #126de5;
	outline: none;
	padding: 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: none;
}

input[type=submit] {
	cursor: pointer;
	background: #126de5;
	border: none;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 8px;
}

#user {
	padding: 8px;
	width: calc(100% + 64px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	margin-left: -32px;
	margin-top: -32px;
	background: #126de5;
	;
	color: #fff;
}